img
{
    -webkit-user-select: none;
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */

}


body
{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin:0px;
  height:500px;
  width:400px;
  background-color: #8E8DBE;
  background-image: url('../images/dots.jpg');
  background-size: cover;
  background-position: 30% center;
  color: #16829f;


}


header
{
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  /*text-transform: uppercase;*/
  /*font-family: 'Indie Flower', cursive;*/
  background-color: #FFEB3B;
  margin: 0 0 50px 0;
  height: 50px;
}

header p
{
  font-size: 25px;
}

i.fa-bars
{
  position: absolute;
  margin: 12px -80px;
  font-size: 1.4em;
  color: #03A9F4;
  cursor: pointer;
}


p.greeting
{
  font-size: 15px;
  color: #03A9F4;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
}

.errorMessage
{
  color: #fff;
  text-align: center;
  font-size: 18px;
}



label
{
  /*float: left;*/
  width:150px;
  color: #9E9E9E;
  font-size: 15px;
  display: block;
  margin: 0 25%;
}


input[type=text], input[type=password]
{
  height:25px;
  width:200px;
  font-size:13pt;
  color:#2980b9;
  background: none;
  margin-bottom: 10px;
  margin: 10px 25%;
  border: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #607D88;
  outline: none;
  padding-left: 4px;

}

button
{
  margin: 10px 25%;
  height: 40px;
  width: 210px;
  font-size: 25px;
  text-transform: lowercase;
  color: #fff;
  border: none;
  cursor:pointer;
}

button.save
{
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: 80px;

}



button:hover
{
  color: #fff;
  background-color: #2a97ee;

}

button#continue
{
  margin-left: 140px;
}

footer
{

    position: absolute;
    background-color: rgba(43, 42, 40, 0.85);
    left: 0;
    color: #fff;
    font-weight: 100;
    text-align: center;
    bottom: 0;
    height: 20px;
    width: 100%;
}

footer p
{
  text-align:center;
  color:#C8C8C8;
  font-size:1em;
  background:#000;
}








/* Styles for the menu and settings page goes here*/

  .section
  {
    height: 100px;
    overflow: auto;

  }


  .loggedInUser
  {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
  }

  .title
  {
    font-size: 15px;
    margin: 0 20px;
    /*text-transform: uppercase;*/
    color: #A5A2A2;
  }

  .pre-alert
  {
    padding-top: 5px;
  }


  .actions
  {
    margin: 0 0 10px 10px;
    width: 50px;
    height: 50px;
    padding: 5px 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

  }

  .actions i
  {
    display: block;
    font-size: 20px;
    margin: 5px 10px;



  }

  .actions:hover
  {
    background-color: rgba(4, 4, 4, 0.27);
  }

  div.bottom-content
  {
    background-color: #03A9F4;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }

  a
  {
    margin: 20px 20px;
    color: #9E9E9E;
    display: block;
  }

  i.fa-toggle-on
  {
    font-size: 16px;
    color: rgb(99, 189, 12);
    top: 105px;
    left: 340px;
  }

  i.fa-toggle-off
  {
    font-size: 16px;
    color: rgb(95, 97, 94);
    top: 105px;
    left: 340px;
  }

  a.notificationToggle
  {
    font-size: 18px;
    text-decoration: none;
    cursor: default;

  }

  p.toggleOff, p.toggleOn
  {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 93px;

  }

  p.toggleOn
  {

    left: 370px;
  }

  p.toggleOff
  {

    left: 305px;
  }

  .fa-toggle-on, .fa-toggle-off
  {


    cursor: pointer;
    position: absolute;

  }

  label.syncInterval
  {
    font-size: 18px;
    width:150px;
    color: #9E9E9E;
    display: inline-block;
    margin: 5px 20px;
  }

  select
  {
    position: absolute;
    left: 300px;
    height: 30px;
    font-size: 15px;
    color: #4CAF50;
  }
